{% load static %}

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="16x16" href="https://piro-homepage-bucket.s3.ap-northeast-2.amazonaws.com/images/favicons/favicon-16x16.png">
    <!-- font korean -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&family=IBM+Plex+Sans+KR:wght@400;500;600&family=Nanum+Brush+Script&family=Playwrite+AU+SA:wght@100..400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/style2.css' %}">
    <script src="{% static 'js/script.js' %}"></script>

    <title>나만의 아이디어</title>
</head>
<body>
    <style>
        body{
            background-image : url("{% static "photo/coding.jpg" %}")
        }
    </style>
    <header class="navBar">
        <a href = "{% url 'post:ideaManage' %}" class="logo">
            <span class="white bold">My</span>
            <span class="lightGreen bold">SW Idea</span>
            <span class="white bold">Manage</span>
        </a>
        <ul class="navButtons white">
            <li class="navBar-element"><a href="{% url 'post:ideaRegister'%}">아이디어 등록</a></li>
            <li class="navBar-element"><a href="{% url 'post:ideaManage'%}">아이디어 관리</a></li>
            <li class="navBar-element"><a href="{% url 'DevTool:toolRegister'%}">개발툴 등록</a></li>
            <li class="navBar-element"><a href="{% url 'DevTool:toolManage'%}">개발툴 관리</a></li>
        </ul>
    </header>
    <section class="mainSection">
        <article class = "page">
            <div class="pageNav">
                {% block pageNav %}
                {%endblock%}
            </div>
            <div class="pageContent">
               {% block pageContent %}
               {%endblock%}
            </div>
        </article>
    </section>

</body>
</html>