:root{
    --black_main: rgba(0,0,0);

}
.text-white{
    color:white;
}
#wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100vh;
    background-color: black;
}
#main{
    text-align: center;
    width: 100%;
    height: 2000px;
    background-color: black;
}
header{
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    background-color: var(--black_main);
    width: 100%;
    height: 90px;
    opacity: 80%;
    align-items: center;
    flex-direction: column;
}

#header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    width: 100%;
    height: 100%;
}
#header-svg{
    width: 60px;
    height: 60px;
    align-self: center;
    padding: 10px;
    margin-left: 30px;
}
#header-button-container{
    height: 100%;
    width: 600px;
    background-color:var(--black_main);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#header-button-container > a{
    width: 12%;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    justify-content: center;
    font-weight: 500;

}
article{
    display: block;
    margin: 0 auto;
    width: min(1200px , 100%);
    padding: 90px 40px 50px;
    background-color: black;
}
article #bar-generation{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    margin-bottom: 16px;
}
article #bar-generation > span{
    text-align: center;
    font-size: 25px;

}
article .team-section{
    width: 100%;
    background-color: #333;
    padding: 16px;
    border-radius: 6px;
    margin-bottom: 16px;
}
.project-container{
    display: flex;
    width: 100%;
    padding: 16px;
    flex-direction: row;
    color: white;
}
.project-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding:10px;
}
.project-content > ul >li{
    background-color:rgba(236, 236, 236, 0.466);
    font-size: 1.2rem;
    padding: 5px;
    border-radius: 3px;
}
.project-content > ul :nth-child(1){
    background-color: #2188b6;
}
.project-content >p{
    font-size: 1.6rem;
    text-align: left;
}
.project-content >ul{
    display: flex;
    flex-direction: row;
    gap: 15px;
}
.project-content > span {
    font-size: 2.2rem;
    font-weight: 900;
    text-align: left;
}
.project-pic{
    display: flex;
    width: 150px;
    height: 110px;
    border-radius: 6px;
    background-color: white;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.project-pic img{
    width: 100%;
    padding: 1rem 1rem;
    object-fit: contain;
}
footer{
    width: 100%;
    padding: 40px;
    background-color: #333;
}
#footer-icons >ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:10px
}

#footer-icons ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background-color: black;
    border-radius: 50px;
}
#footer-icons ul li img{
    width: 18px;
    height: 18px;
}
#footer-wrap{
    display: flex;
    flex-direction: row;
    width: min(1200px , 100%);
    background-color: #333;
    padding: 0 40px;
    gap:10px;
}
#footer-contact{
    display: flex;
    flex-direction: column;
    padding:0 100px 0 0 ;
    gap:10px
}
#footer-contact > a{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    color: white;
}

#footer-contact > #contact-email{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
#footer-contact > #contact-email > span{
    font-size:12px ;
    color: white;
}
#footer-contact > #contact-email div{
    width: 30px;
    height: 30px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
#footer--nav{
    display: flex;
    justify-content: center;
    flex:1;
}
#footer--nav >ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
#footer--nav >ul li{
    color: white;
    font-size: 15px;
}
#footer--nav >ul li> span:nth-child(2){
    color: #949494;
    font-size: 15px;
}