:root{
    --bc-black: rgba(0, 0, 0, 0.5);
    --green-light : #D1F905;
    --white-border: rgba(255,255,255,0.6);
    --yellow-light:#f4fdb9;
    --bc-red:#d60000;
    --bc-gray:#e0e0e0;
    --bc-blue:#1f56a7;

}